<meta charset="UTF-8">

<style>
	.sedan_list {
		border-top: 1px solid white;
	}
	.sidenav_list {
		border-bottom: 1px solid white;
	}
	
	.sidenav_list > h4 {
		color: white;
	}
	a {
		color: #EABF00;
	}
	
	p > a:hover {
		color: azure;
		text-decoration: none;
	} 
	
	
</style>

<div class="sidenav_list sedan_list">
	<h4>Sedan</h4>
	<p><a href="sedan01">2013 Acura TL</a></p>
	<p><a href="sedan02">2010 Lexus E</a></p>
	<p><a href="sedan03">2011 Infiniti G37</a></p>
	<p><a href="sedan04">2016 Chrysler</a></p>
	<p><a href="sedan05">C2016 Chrysler</a></p>
	<p><a href="sedan06">2014 Acura TL</a></p>
</div>

<div class="sidenav_list">
	<h4>Roadsters</h4>
	<p><a href="roadster01">2011 BMW 135</a></p>
	<p><a href="roadster02">2013 Mazda</a></p>
	<p><a href="roadster03">2011 Infiniti</a></p>
	<p><a href="roadster04">2014 Mazda</a></p>
	<p><a href="roadster05">MiniCooper s</a></p>
	<p><a href="roadster06">MiniCooper</a></p>
</div>


<div class="sidenav_list">
	<h4>SUVs</h4>
	<p><a href="suv01">2020 Jeep</a></p>
	<p><a href="suv02">2018 Cadillac</a></p>
	<p><a href="suv03">2016 Jeep</a></p>
	<p><a href="suv04">2015 Kia Soul</a></p>
	<p><a href="suv05">2020 Hyundai</a></p>
	<p><a href="suv06">2015 Mitsubishi</a></p>
</div>


