<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		$('#bt').click(function(){
			var param = $('#param').val();	//Input값을 param이라는 변수에 저장 
				$.ajax({
					url : '/kakaolocal',
					data : {'keyword':param},
					success:function(data){
						alert(data);
					}
				});
		});
		
	});
	
</script>
</head>

<body>
	<h1>KAKAO Page</h1>
	<input type="text" id="param">
	<button id="bt">Click</button>
</body>
</html>