<meta charset="UTF-8">

<h3>Used roadsters for sale <span class="six_items">| 6 items</span></h3>

<!-- Add icon library -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
	<div class="column">
		<div class="card">
			<img src="img/roadster/2011BMW.webp" alt="John" style="width: 100%"
				height="190px">
			<p class="title">2011 BMW 135 I</p>
			<p>
				<button onclick="location.href='roadster01'" class="card_btn">View</button>
			</p>
		</div>
	</div>

	<div class="column">
		<div class="card">
			<img src="img/roadster/2013Mazd.webp" alt="John" style="width: 100%"
				height="190px">
			<p class="title">2013 Mazda MX-5 Miata Sport</p>
			<p>
				<button onclick="location.href='roadster02'" class="card_btn">View</button>
			</p>
		</div>

	</div>
	<div class="column">
		<div class="card">
			<img src="img/roadster/2014Ford.webp" alt="John" style="width: 100%"
				height="190px">
			<p class="title">2011 Infiniti G37 X</p>
			<p>
				<button onclick="location.href='roadster03'"  class="card_btn">View</button>
			</p>
		</div>
	</div>
</div>

<div class="row second_row">
	<div class="column">
		<div class="card">
			<img src="img/roadster/2014Mazda.webp" alt="John" style="width: 100%"
				height="190px">
			<p class="title">2014 Mazda MX-5 Miata </p>
			<p>
				<button onclick="location.href='roadster04'"  class="card_btn">View</button>
			</p>
		</div>
	</div>

	<div class="column">
		<div class="card">
			<img src="img/roadster/2014Mini.webp" alt="John" style="width: 100%"
				height="190px">
			<p class="title">2014 Mini Cooper S</p>
			<p>
				<button onclick="location.href='roadster05'" class="card_btn">View</button>
			</p>
		</div>

	</div>
	<div class="column">
		<div class="card">
			<img src="img/roadster/2015Mini.webp" alt="John" style="width: 100%"
				height="190px">
			<p class="title">2014 Mini Cooper</p>
			<p>
				<button onclick="location.href='roadster06'"  class="card_btn">View</button>
			</p>
		</div>
	</div>
</div>


